<p>
  <?php if($conditions == 1) :?>
    Cumple todas las siguientes condiciones
  <?php elseif($conditions == 2) :?>
    Presenta alguna de las siguientes deficiencias
  <?php endif; ?>
</p>
<ul class="circle">
    <?php
    foreach ($html as $value) :
    ?>
	<li data-percent="<?php echo $value['percent'] ?>">
		<?php echo $value['des'] ?>
	</li>
	<?php
	endforeach;
	?>
</ul>