<div class="row box">
	<div class="large-12 columns">
		<hr>
        <strong class="fi-results-demographics">&nbsp;Perfil</strong>
        <hr>
    </div>
    
    <div class="large-12 columns">
		<form>
			<fieldset>
				<legend class="legend">
					Editar perfil
				</legend>
				<label>Nombre de usuario</label>
				<input  type="text" name="usuario" id="usuario" placeholder="Usuario" />
				
				<label>Nombre</label>
				<input type="text" name="nombre" id="user" placeholder="Juan" />
				
				<label>Apellidos</label>
				<input type="text" name="apellidos" id="apellidos" placeholder="Cruz Santos" />
				
				<label>Contrase&ntilde;a anterior</label>
				<input type="password" name="cAnterior" id="cAnterior" placeholder="********" />
				
				<label>Nueva contrase&ntilde;a</label>
				<input type="password" name="cNueva" id="cNueva" placeholder="********" />
				
				<label>Repite nueva contrase&ntilde;a</label>
				<input type="password" name="rContrasena" id="rContrasena" placeholder="********" />
				
				<input type="submit" class="button span" value="Guardar" />
			</fieldset>
		</form>
	</div>
</div>