<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 medium-3 columns">
                &nbsp;
            </div>
            <div class="large-6 medium-6 columns">
                &nbsp;
            </div>
            <div class="large-3 medium-3 columns">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="large-12 medium-12 columns box">
        <?php 
        $login->setAttribute('action', $this->url('home',array('action' => 'index')))->prepare();
        echo $this->form()->openTag($login);
        ?>
            <fieldset>
                <legend class="legend fi-torsos-male-female">INICIAR SESI&Oacute;N</legend>

                <div class="row collapse">
                    <div class="large-3 medium-3 columns">
                        &nbsp;
                    </div>
                    <div class="large-2 medium-2 columns">
                        <label class="prefix white span">Usuario</label>
                    </div>
                    <div class="large-4 medium-4 columns">
                       <?php echo $this->formRow($login->get('usuario')); ?>
                    </div>
                    <div class="large-3 medium-3 columns">
                        &nbsp;
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 medium-3 columns">
                        &nbsp;
                    </div>
                    <div class="large-2 medium-2 columns">
                        <label class="prefix white span">Contrase&ntilde;a</label>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <?php echo $this->formRow($login->get('password')); ?>
                    </div>
                    <div class="large-3 medium-3 columns">
                        &nbsp;
                    </div>
                </div>

                <div class="row collapse">
                    <div class="large-3 medium-3 columns">
                        &nbsp;
                    </div>
                    <div class="large-4 medium-4 columns">
                        <?php
                        echo $this->formRow($login->get('token'));
                        echo $this->formRow($login->get('login'));
                        ?>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <span><a href="#" data-reveal-id="resetLogin">¿Olvid&oacute; la contrase&ntilde;a?</a></span>
                    </div>
                    <div class="large-2 medium-2 columns">
                        &nbsp;
                    </div>
                </div>
               
                <?php if(isset($msg)):  ?>
                <div data-alert class="alert-box alert">
                   <?php echo $msg ?>
                  <a href="javascript:;" onclick="window.location.href = '/'" class="close fi-x-circle"></a>
                </div>
                <?php endif;?>
            </fieldset>
        <?php echo $this->form()->closeTag($login); ?>
    </div>
</div>

<div id="resetLogin" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <div class="row">
    <div class="small-12 large-12 columns" id="msgReset">
        <strong class="fi-mail">&nbsp;Restauraci&oacute;n de contrase&ntilde;a por correo electr&oacute;nico.</strong>
        <?php 
        $reset->setAttribute('action', $this->url('login/default', array('controller'=>'resetpassword', 'action'=>'index')))->prepare();
        echo $this->form()->openTag($reset);
        echo $this->formCollection($reset);
        echo $this->form()->closeTag($reset); 
        ?>
    </div>              
  </div>
  <blockquote>
    <em>Proporcione el correo electr&oacute;nico que espec&iacute;fico durante el proceso de registro de usuario.</em>
  </blockquote>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>