<script>
    $("#table").css("display", "none");
</script>

<?php if(isset($total)): ?>
<div class="small-8 columns">
    <strong> <?php  echo $mark; ?></strong>
    <br>
    <strong> <?php  echo $description; ?></strong>
    <div class="row">
      <div class="small-8 columns">
          <img src="/img/<?php echo $picture; ?>" />
        <div class="row">
          <div class="small-8 columns">
              <strong>$<?php echo $total; ?></strong>
          </div>
          <div class="small-4 columns">&nbsp;</div>
        </div>
      </div>
      <div class="small-4 columns">
          <!--Tienes que componer esto con un formulario de clase form de zf2--->
            <form method="post" action="/cart">
                <input type="hidden" name="descriptionSession" value="<?php  echo $description; ?>" />
                <input type="hidden" name="imeiSession" value="<?php  echo $imei; ?>" />
                <input type="hidden" name="totalSession"  value="$<?php echo $total; ?>"/>
                <input type="hidden" name="markSession"  value="<?php echo $mark; ?>"/>
                <input type="hidden" name="statusProductSession"  value="<?php echo $statusProduct; ?>"/>
                <input type="hidden" name="modelSession"  value="<?php echo $model; ?>"/>
                <input type="submit" value="Añadir" class="span">
            </form>
            <!--Tienes que componer esto con un formulario de clase form de zf2--->
      </div>
    </div>
</div>
<div class="small-4 columns"></div>

<?php  elseif(isset($alert)): ?>
<div class="small-12 large-12 columns">
 <div data-alert class="alert-box alert">
  <?php echo $alert; ?>
  <a href="javascript:;" class="close fi-x-circle"></a>
 </div>   
</div>

<?php elseif(isset($success)): ?>
<div class="small-12 large-12 columns">
 <div data-alert class="alert-box success">
  <?php echo $success; ?>
  <hr>
  <?php echo $msg; ?>
  <a href="javascript:;" class="close fi-x-circle"></a>
 </div>   
</div>

<script>
    $("#table").css("display", "");
    $("[name='mark']").empty();
    $.ajax({
      url : '/cart/catmark',
      type : 'GET',
      dataType: 'json',
      data : {idChains: $("[name='chains']").val() , idBranchOffice: $("[name='idBranchOffice']").val() , idProduct:$("[name='product']").val()},
      error : function() {
        alert('ocurrio un error');
      },
      success : function(data) {
         var option = "";
         for(var i in data)
         {
             option+="<option value='"+i+"'>"+data[i]+"</option>";
         }
        $("[name='mark']").append(option).change();
      }
    });
</script>
<?php endif; ?>