<?php
if(isset($msg)):
  foreach ($msg as $key => $value) :
	foreach ($value as $item) :
        ?>
		<div data-alert class="alert-box <?php echo $class ?>">
           <?php echo $item ?>
          <a href="javascript:;" class="close fi-x-circle"></a>
        </div>
		<?php
	endforeach;
  endforeach;
endif;
?>