.alert-box {
    background: #f7f7f7 !important;
    color: #333 !important;
    border: none !important;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2) !important;
}
.alert-box.success {
    background: #f7f7f7 !important;
    border-left: 6px solid #3A945B !important;
    color: #333 !important;
}
.alert-box.alert {
    background: #f7f7f7 !important;
    border-left: 6px solid #DE2D0F !important;
    color: #333 !important;
}
.alert-box.warning {
    background: #f7f7f7 !important;
    border-left: 6px solid #DE770F !important;
    color: #333 !important;
}
.alert-box.info {
    background: #f7f7f7 !important;
    border-left: 6px solid #74BFDD !important;
    color: #333 !important;
}
.alert-box.secondary {
    background: #f7f7f7 !important;
    border-left: 6px solid #C7C7C7 !important;
    color: #333 !important;
}

.alert-box .close {
    font-size: 2rem !important;
    line-height: 1.25 rem !important;
}