<div class="row box">
	<div class="large-12 columns">
		<hr>
        <strong class="fi-plus">&nbsp;Selecci&oacute;n de tipo de transacci&oacute;n</strong>
        <hr>
    </div>
   
	<div class="large-12 columns">
		<div class="row">
			<div class="large-1 medium-1 columns">
				&nbsp;
			</div>
			<div class="large-11 medium-11 columns">
				Elija esta opción si desea realizar una operación directamente con el cliente. Zwipit comprará los productos a los clientes.
			</div>
		</div>
	</div>
	
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 medium-3 columns">
				<hr>
				<strong>Particulares</strong>
				<hr>
			</div>
		</div>
	</div>
	
	<div class="large-12 columns">
		<div class="row">
			<div class="large-6 medium-6 columns">
				<i class="fi-euro">&nbsp;</i><a class="span" href="<?php echo $this->url('cart'); ?>">Recomprar</a>
				<p>El cliente desea vender uno o varios productos (celulares o tabletas).</p>
			</div>
			
			<div class="large-6 medium-6 columns">
				<i class="fi-shopping-bag">&nbsp;</i><a class="span" href="#">Entrega de mercanc&iacute;a</a>
				<p>Seleccione esta opción para realizar la entrega de la mercancía vendida al mensajero.</p>
			</div>
		</div>
	</div>
</div>

<?php 
$this->inlineScript()->captureStart();
echo <<<JS
  console.log("ok");
JS;
$this->inlineScript()->captureEnd();

$this->headStyle()->captureStart();
echo <<<CSS

CSS;
$this->headStyle()->captureEnd();