<div class="row box">
	<div class="large-12 columns">
		<?php echo $this->partial('skeleton/navCart'). PHP_EOL;  ?>
	</div>

	<div class="large-12 columns">
		<div class="small-8 large-8 columns assessment">
		    <hr>
            <strong><i class="fi-dollar size-21"></i>&nbsp;Venta de cliente</strong>
            <hr>	
		    <?php
		    if(isset($addCart)) :
		    ?>
		    <div data-alert class="alert-box success">
              <?php echo $addCart; ?>
              <a href="#" class="close fi-x-circle"></a>
            </div>
		    <?php
		    endif;
		    ?>		
			<div class="row">
				<div class="small-12 large-12">
					<?php 
					$valuation->setAttribute('action', $this->url('home',array('action' => 'index')))->prepare();
        			echo $this->form()->openTag($valuation);
		            ?>
						<fieldset>							
							<div class="row">
								<div class="small-4 large-4 columns">
									&nbsp;
								</div>
								<div class="small-5 large-5 columns">									
									<?php echo $this->formRow($valuation->get('product')); ?>
								</div>
								<div class="small-3 large-3 columns">
									&nbsp;
								</div>
							</div>
							
							<hr>
							<strong>Estado del producto</strong>
							<hr>
							<div class="row">
								<div class="small-12 large-12 columns">
									<?php 
									echo $this->formRow($valuation->get('statusProduct'));
									echo $this->formRow($valuation->get('chains')); 
                                    echo $this->formRow($valuation->get('idBranchOffice')); 
									?>
									<blockquote id="msgConditions"></blockquote>
								</div>
							</div>
							<p>
								&nbsp;
							</p>
							<span><i class="fi-info size-21">&nbsp;</i>No se abonar&aacute; ning&uacute;n importe por aquellos productos que hayan sufrido da&ntilde;os por agua.</span>
							<p>
								&nbsp;
							</p>
							
							<fieldset id="searchOptions" style="display: none">
							<?php  echo $this->formRow($valuation->get('searchOptions'));?>
							</fieldset>
							
							<div id="serial" style="display: none"><?php echo $this->formRow($valuation->get('serial')); ?></div>
							
                            <div id="imei">
                               <?php echo $this->formRow($valuation->get('imei'));?>
                               <!-- <a class="span" id="checkImei" href="javascript:;">Verificar IMEI</a>
                               <p>&nbsp;</p> -->
                            </div>
                            
                            <div id="table" style="display: none">
                                <?php 
                                echo $this->formRow($valuation->get('mark'));
                                echo $this->formRow($valuation->get('model'));
                                ?>
                            </div>

                            <?php echo $this->formRow($valuation->get('search'));?>
                            
                            <div class="row" id="showImg"></div>
							<p>
								&nbsp;
							</p>
							
							<span data-tooltip aria-haspopup="true" title="1) Marcando *#06# con el terminal encendido  
							<hr> 2) También se encuentra en el reverso del terminal, debajo de la batería. En otros celulares como el Apple iPhone se 
							encuentra impreso en el revés del terminal o en la puerta de la tarjeta SIM.
							<hr> En caso de que se muestren más de 15 dígitos introduzca únicamente los 15 primeros. Ignore los guiones, 
							espacios y cualquier caracter que no sea numérico." class="has-tip tip-right">
							<i class="fi-lightbulb size-21">&nbsp;</i>¿C&oacute;mo averiguar el IMEI de un celular o tableta?</span>
							<p>
								&nbsp;
							</p>
						</fieldset>
					<?php echo $this->form()->closeTag($valuation); ?>
				</div>
			</div>
		</div>
		
		<div class="small-8 large-8 columns datalogging" style="display: none">
		    <hr>
            <strong><i class="fi-torso size-21"></i>&nbsp;Datos de cliente</strong>
            <hr>
            
            <div class="row">
                <div class="small-12 large-12">
                <?php 
                 $customerData->setAttribute('action', $this->url('cart/default', array('controller'=>'data', 'action'=>'index')))->prepare();
                 echo $this->form()->openTag($customerData);
                 echo $this->formCollection($customerData);
                 echo $this->form()->closeTag($customerData); 
                ?>    
                </div>
            </div>
		</div>
		
		<div class="small-8 large-8 columns bag" style="display: none">
			<hr>
            <strong><i class="fi-shopping-bag size-21"></i>&nbsp;Seleccionar bolsas</strong>
            <hr>
			
			<div id="steps">
				<p><strong>Siga los siguientes pasos:</strong></p>
				<ol>
				  <li>Tome una bolsa</li>
				  <li>Escriba aquí su código num&eacute;rico</li>
				  <li>Introduzca los celulares de la venta dentro de la misma</li>
				  <li>Haga clic en este botón</li>			  
				</ol>
				
				<?php
				$bagIdentifier->setAttribute('action', $this->url('cart/default', array('controller'=>'validbag', 'action'=>'index')))->prepare();
	            echo $this->form()->openTag($bagIdentifier);
	            echo $this->formCollection($bagIdentifier);
	            echo $this->form()->closeTag($bagIdentifier); 
				?>
				
				<p><strong>IMPORTANTE</strong></p>
				<p><strong>* No cierre la bolsa todav&iacute;a.</strong></p>
				<p><strong>* No llene la bolsa en exceso, siempre puede utilizar otra.</strong></p>
			</div>
			
			<div id="responceBag"></div>
		</div>
		
		
		<div class="small-8 large-8 columns contract" style="display: none">
			<hr>
            <strong><i class="fi-page-export-pdf size-21"></i>&nbsp;Revisar e imprimir contrato</strong>
            <hr>
			
			<blockquote>
			    <p class="text-justify">Es imprescindible <strong>imprimir correctamente todas las copias de los contratos</strong> y que est&eacute;n debidamente firmados
                para confirma la venta en el sistema.
                </p>
                
                <p class="text-justify">Al pulsar el bot&oacute;n de la parte inferior <strong>"Imprimir contrato"</strong> &eacute;ste abrir&aacute; una ventana emergente desde 
                    la que podr&aacute; realizar la impresi&oacute;n, aseg&uacute;rese de que su navegador no bloqueara los elementos emergentes de esta p&aacute;gina.
                </p>
                
                <p class="text-justify">Para la correcta visualizaci&oacute;n e impresi&oacute;n de los contratos es necesario tener instalado el plugin de Adobe Reader. Puede descargalo e instalarlo 
                    de forma gratuita desde este enlace: <i class="fi-social-adobe size-21">&nbsp;</i><a target="_blank" href="https://get.adobe.com/es/reader/">Descargar Adobe Reader</a>
                </p>
                
                
                <p class="text-center">
                    Tambi&eacute;n puede descargar el contrato <a href="<?php echo $this->url('cart')?>/contract" download="<?php echo  $imei ?>.pdf">en este enlace</a>
                </p>
			</blockquote>
			
			<blockquote>
			    <div data-alert class="alert-box alert">
                  Si por cualquier motivo no ha podido imprimir el contrato, no finalice la venta y pulse el bot&oacute;n <strong>"Anular Venta"</strong>.
                </div>
			</blockquote>
			
			<div class="row">
			    <div class="large-12 columns">
    			    <div class="small-6 large-6 columns">
    			        <a target="_blank" href="<?php echo $this->url('cart')?>/contract" class="button span small">Imprimir Contrato</a>
    			    </div>
    			    <div class="small-6 large-6 columns">
    			        <a href="javascript:;" id="confirmContract" class="button span small">Continuar</a>
    			    </div>
			    </div>
			</div>
		</div>
		
		<div class="small-8 large-8 columns checkout" style="display: none">
		    <hr>
            <strong><i class="fi-checkbox size-21"></i>&nbsp;Comprobaci&oacute;n</strong>
            <hr>
            
            <p>Compruebe los siguientes puntos:</p>
            <ol>
              <li>Todos los productos mostrados en pantalle corresponden a esta venta y han sido introducidos en las bolsas.</li>
              <li>La cantidad de bolsas y los n&uacute;meros de cada una de ellas que se muestran en pantalla coinciden con los que ha utilizado.</li>
              <li>Las bolsas est&aacute;n cerradas y ha introducido una copia del contrato en una de ellas.</li>
            </ol>
            
            <blockquote class="text-justify">
                Si no se cumple algunos de estos puntos debe iniciar la operaci&oacute;n de nuevo. Rompa las bolsas, contacte con el soporte t&eacute;cnico para que cancele los n&uacute;meros de bolsa que ha descartado, haga clic en bot&oacute;n <strong>"Anular venta"</strong> y vuelva a realizar la venta.
            </blockquote>
            
            
            <div class="row">
                <div class="large-12 columns">
                    <table width="100%">
                        <caption>Productos de la venta (1)</caption>
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Funciona</th>
                                <th>Precio</th>
                                <th>IMEI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><?php echo $mark ?></td>
                                <td><?php echo $model ?></td>
                                <td><?php if($statusProduct == 1) echo "Fucniona"; else echo "No Funciona"; ?></td>
                                <td><?php echo $price ?></td>
                                <td><?php echo $imei ?></td>
                            </tr>
                            
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Total:</td>
                                <td><?php echo $price ?></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <a href="javascript:;" class="button small span">Confirmar</a>
		</div>

		<div class="small-4 large-4 columns basket">
			<hr>
			<strong class="fi-shopping-cart">&nbsp;Productos seleccionados</strong>
			<hr>
			<div class="row">
				<div class="small-12 large-12 columns">
				    <?php if(isset($desc,$price) && isset($imei)) : ?>
					<ul class="no-bullet">
						<li>
							<?php echo $desc ?>
						</li>
						<li>
                            <?php echo $price ?>
                        </li>
                        
                        <li>
                            <?php echo $imei ?>
                        </li>
					</ul>
					
					<div class="row">
					    <div class="small-12 large-12 columns">
					        Total: <?php echo $price ?>
					    </div>
                    </div>
                    
                    
                    <a href="<?php echo $this->url('cart')?>/?deleteCart=0">
                        <i class="fi-x-circle size-24"></i>
                    </a>
                    <hr>
                    <?php endif; ?>
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-12 columns">
				    <?php if(isset($desc,$price) && isset($imei)) :?>
					<button class="span" id="sellProduct">
						Vender Ahora
					</button>
					<?php endif;?>
				</div>
				
				<div class="small-12 large-12 columns cancelSale" style="display: none">
				    <a class="button small span" id="cancelSale" href="javascript:;">
                       Anular Venta
                    </a>
                </div>
			</div>
		</div>
		
		<div class="small-4 large-4 columns bagBasket" style="display: none">
		    <hr>
            <strong class="fi-shopping-bag">&nbsp;Bolsas utilizadas (1)</strong>
            <hr>
            <div class="row">
                <div class="small-12 large-12 columns">
                    <p>N° de la bolsa #1: <strong><?php echo $bag ?></strong> </p>
                </div>
            </div>
		</div>
	</div>
</div>
<?php 
$this->inlineScript()->captureStart();
echo <<<JS
  var li = $("#navProcess > li");
  
  $("[name='product']").change(function(){
    var searchOptions = $("#searchOptions, #serial")
      , select = $(this).val()
      , input = $("[name='searchOptions']");
    
    searchOptions.css("display", "none");
    $(input[0]).prop('checked', true);
    
    if(select == 1)
    {
      $("#table").css("display", "none");
      $("#imei").css("display", "");
      $("[name='serial']").val('');  
      $("[name='imei']").prop("required", true);
      $("[name='model'], [name='mark'], [name='serial']").prop("required", false);
    }
    
    if(select == 2)
    {
        searchOptions.css("display", "");
    }
  });
  
  $("[name='statusProduct']").change(function(){
  	var select = $(this).val()
  	   , msg = $("#msgConditions");
    
  	if(select == '')
  	{
  		msg.html('');
  		return false;
  	}
  	
	$.ajax({
	  url : '/cart/conditions',
	  type : 'GET',
	  data : {statusProduct:select, chains: $("[name='chains']").val()},
	  error : function() {
		alert('ocurrio un error');
	  },
	  success : function(data) {
		msg.html(data);
	  }
	});
  });
  
  $("[name='searchOptions']").click(function(){
      var radio = $(this).val()
        , table = $("#table")
        , select = $("[name='model'], [name='mark'], [name='serial']");
      
      if(radio == 'make_model')
      {
          $("#imei").css("display", "none");
          table.css("display", "")
          select.prop("required", true);
          $("[name='imei']").prop("required", false);
      }
      
      if(radio == 'imei')
      {
          $("#imei").css("display", "");
          table.css("display", "none")
          select.prop("required", false).val('');
          $("[name='imei']").prop("required", true);
      }
  });
  
  $("[name='mark']").change(function(){
      var select = $(this).val();
      
      if(select == '')
      {
          $("[name='model']").html("<option value=''>Seleccione</option>");
          return false;
      }
      
      $.ajax({
      url : '/cart/model',
      type : 'GET',
      data : {idEquipment:select},
      dataType: 'json',
      error : function() {
        
      },
      success : function(data) {
        var option = "";
        for(var i in data)
        {
            option+="<option value='"+i+"'>"+data[i]+"</option>";
        }
        $("[name='model']").empty().append(option);
      }
    });
  });
  
  $("#valuation").submit(function(){
      var imei = $("[name='imei']");
      if(imei.val() == '')
      {
        imei.next().remove();
        imei.after("<div data-alert class='alert-box alert'>Especifique el IMEI del tel\u00E9fono.<a href='javascript:;' class='close fi-x-circle'></a></div>");
        imei.focus();
        
        return false;
      }
      
      $.ajax({
      url : '/cart',
      type : 'POST',
      data : $(this).serialize(),
      error : function() {
        alert('ocurrio un error');
      },
      success : function(data) {
          $("#showImg").html(data);
      }
      });
      
      return false;
      
  });
  
  //TODO: proceso de valoracion de equipo 'pestañas'
  $("#sellProduct").click(function(){
      $(li[0]).addClass("unavailable");
      $(li[1]).removeClass("unavailable");
      $("div.assessment, #sellProduct").css("display", "none");
      $("div.datalogging, div.cancelSale").css("display", "");
  });
  
  $("#customerData").submit(function(){
    $.ajax({
      url : $(this).attr('action'),
      type : 'POST',
      data : $(this).serialize(),
      error : function() {
        alert('ocurrio un error');
      },
      success : function(data) {
          $(li[1]).addClass("unavailable");
          $(li[2]).removeClass("unavailable");
          $("div.datalogging").css("display", "none");
          $("div.bag").css("display", "");
      }
    });  	
	return false;
  });
  
  $("#bagIdentifier").submit(function(){
  	var form = $(this);
	
	$.ajax({
      url : form.attr('action'),
      type : 'POST',
      data : form.serialize(),     
      error : function() {
        alert('ocurrio un error');
      },
      success : function(data) {      	  
          $("#responceBag").html(data);
      }
      });
	  
  	return false;
  });
  
  $(document).on("click", "#contract", function(){
  	console.log(2);
  	$(li[2]).addClass("unavailable");
    $(li[3]).removeClass("unavailable");
	$("div.bag").css("display", "none");
	$("div.contract").css("display", "");
	return false;
  });
  
  $("#confirmContract").click(function(){
      $(li[3]).addClass("unavailable");
      $(li[4]).removeClass("unavailable");
      $("div.contract, div.basket").css("display", "none");
      $("div.checkout, div.bagBasket").css("display", "");
      return false;
  });
  
  $("#cancelSale").click(function(){
     var incog= confirm("Si anula la venta se perder\u00E1n todos los datos ¿Esta seguro de querer continuar? ");
     
     if (incog == true) 
     {
       location.href="/";
     } 
     else 
     {
        return false;
     }
  });
  //TODO: proceso de valoracion de equipo 'pestañas'
JS;
$this->inlineScript()->captureEnd();