<?php echo $this->doctype(); ?>
<html class="no-js"  lang="es-MX">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle('Zwipit')->setSeparator(' - ')->setAutoEscape(false)
		?>
		<?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
		?>

		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->prependStylesheet($this->basePath('css/foundation.css'))
			->prependStylesheet($this->basePath('css/foundation-icons/foundation-icons.css'))
            ->prependStylesheet($this->basePath('css/css.php'))
            ->prependStylesheet($this->basePath('css/custom.css'));
		?>
		<!-- Scripts -->
		<?php echo $this->headScript()
    		->prependFile($this->basePath('js/vendor/modernizr.js'))
            ->prependFile($this->basePath('js/foundation.min.js'))
            ->prependFile($this->basePath('js/vendor/jquery.js'))
		?>
	</head>

	<body>     
		<?php
        echo $this->navigation()->menu()->setPartial('skeleton/nav')->render(). PHP_EOL;
        echo $this->partial('skeleton/header'). PHP_EOL; 
        echo $this->content;
        echo $this ->partial('skeleton/footer'). PHP_EOL;
        echo $this->inlineScript();
        ?>
	</body>
</html>
