<div class="row box">
	<div class="large-12 columns">
		<hr>
        <strong class="fi-page-multiple">&nbsp;Documentos</strong>
        <hr>
    </div>
    
    <div class="large-12 columns">
    	<table width="100%">
		  <thead>
		    <tr>
		      <th>Nombre:</th>
		      <th>Archivo</th>
		      <th>&nbsp;</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Guía Fácil del proceso de compra</td>
		      <td>guia_facil_del_proceso_de_compra.pdf</td>
		      <td><a href="#">Descargar</a></td>
		    </tr>
		    <tr>
		      <td>Manual del proceso de compra</td>
		      <td>manual_del_proceso_de_compra.pdf</td>
		      <td><a href="#">Descargar</a></td>
		    </tr>
		    <tr>
		      <td>Manual de entrega de mercancía</td>
		      <td>manual_de_entrega_de_mercancia.pdf</td>
		      <td><a href="#">Descargar</a></td>
		    </tr>
		  </tbody>
		</table>
    </div>
</div>