<div class="row box">
	<div class="large-12 columns">
		<hr>
		<strong class="fi-shopping-bag">&nbsp;Petici&oacute;n de bolsa</strong>
		<hr>
	</div>

	<div class="large-12 columns">
		<form>
			<fieldset>
				<legend class="legend">
					Nueva petici&oacute;n
				</legend>
				<label>Indique a continuación de cuantas bolsas y bolsones dispone en estos momentos y cuantos necesita</label>
				<textarea name="peticion" id="peticion" required></textarea>
				<input type="submit" class="button span" value="Enviar Petici&oacute;n" />
			</fieldset>
		</form>
	</div>

	<div class="large-12 columns">
		<table width="100%">
			<caption>Peticiones Anteriores</caption>
			<thead>
				<tr>
					<th>Nº de petici&oacute;n</th>
					<th>Fecha</th>
					<th>Comentarios</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Guía Fácil del proceso de compra</td>
					<td>2015/07/12 10:00:00.00</td>
					<td><a href="#">Descargar</a></td>
					<td><a href="#">Descargar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>