</section>
<br>
<footer class="footer">
    <div class="large-12 columns">
    	<hr>
    	<div class="row">
    		<div class="large-5 columns">
    			<p>Soporte t&eacute;cnico.</p>
    		</div>
    		
    		<div class="large-4 columns">
    			<p title="Tel"><i class="fi-telephone size-24">&nbsp;</i>91 78 98 00 ext. 1168</p>
    		</div>
    		<div class="large-3 columns">
    			<p title="Email"><i class="fi-mail size-24">&nbsp;</i>soporte1@tiprotec.com</p>
    		</div>
    	</div>
    </div>
</footer>

<script>
    $(document).on('click', 'a.close', function() {
        $(this).closest('[data-alert]').remove();
    });
    
    $(document).foundation();
</script>