<header class="hero-heading">
    <div class="row">
        <div class="small-12 medium-12 medium-centered columns text-center">
            <h1><img src="<?php echo $this->url('home')?>img/liverpool.png" /></h1>
            <h4><?php echo $h4 = null ?></h4>
        </div>
    </div>
</header>

<section>