<div class="icon-bar five-up">
    <a href="<?php echo $this -> url('access')?>" class="item">
      <i class="fi-home"></i>
      <label>Inicio</label>
    </a>
    <a href="<?php echo $this -> url('petition-bag')?>" class="item">
      <i class="fi-shopping-bag"></i>
      <label>Reposici&oacute;n de bolsas</label>
    </a>
    <a href="<?php echo $this -> url('documents')?>" class="item">
      <i class="fi-page-multiple"></i>
      <label>Todos los documentos</label>
    </a>
    <a href="<?php echo $this -> url('profile')?>" class="item">
      <i class="fi-results-demographics"></i>
      <label>Perfil</label>
    </a>
    <a href="<?php echo $this->url('login/default', array('controller'=>'Index', 'action'=>'logout')); ?>" class="item">
      <i class="fi-x-circle"></i>
      <label>Cerrar Sesi&oacute;n</label>
    </a>
</div>