<br>
<ul class="breadcrumbs" id="navProcess">
	<li>
		<a href="#">1. Valoraci&oacute;n</a>
	</li>
	<li class="unavailable">
		<a href="#">2. Registrar datos</a>
	</li>
	<li class="unavailable">
		<a href="#">3. Seleccionar bolsas</a>
	</li>
	<li class="unavailable">
		<a href="#">4. Imprimir contrato</a>
	</li>

	<li class="unavailable">
		<a href="#">5. Comprobaci&oacute;n</a>
	</li>

	<li class="unavailable">
		<a href="#">6. Venta completada</a>
	</li>
</ul>