<?php
if(isset($alert)):
?>
<div data-alert class="alert-box alert">
  <?php echo $alert ?>
  <a href="#" class="close fi-x-circle"></a>
</div>
<?php
elseif(isset($succes)):
?>
<div id="checkBag">
	<ol>
	  <li>Bolsas utilizadas hasta el momento</li>
	  <li><strong>Bolsa #1:</strong> <?php echo $code ?></li>
	  <li>Si necesita utilizar m&aacute;s bolsas haga clic en el siguiente bot&oacute;n <a class="button span tiny" data-bag="new" href="javascrip:;">Nueva Bolsa</a></li>
	  <li>
	  	Para continuar con la venta haga clic en el bot&oacute;n 
	  	<a class="button span tiny" id="contract" href="javascript:;">Continuar</a> 
	  </li>		  
	</ol>
</div>
<script>$("#steps").css("display", "none");</script>
<?php
endif;
?> 