<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><?php echo $title ?></title>
		<style>
			body {
				background-color: #F9F9F9;
			}

			pre {
				padding: 12px;
				background: #1d1f20;
				color: white;
				font-size: 1.5em;
				margin: 30px auto;
				width: 100%;
				box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
				font-family: "Oxygen Mono", monospace;
				border-radius: 3px;
			}

			pre .com {
				color: #ffffff;
			}

			pre.stx-css .var {
				color: #7d9bbe;
			}

			pre.stx-css .sel {
				color: #dcca7e;
			}

			pre.stx-css .hex {
				color: #cd6724;
			}
		</style>
	</head>

	<body>
		<pre class="stx-css">
          <span class="com">Estimado <?php echo $name ." ".  $paternal ." ". $maternal?></span>
          <span class="sel">Solicitud:</span> 
          <span class="var">Reseteo de password para el correo <span class="com"><?php echo $email ?></span> ha sido procesado, </span>
          <span class="var">Para resetear su password, por favor de click en el siguiente enlace o copie y pegue en el navegador:</span>
          <span class="hex"><a href="<?php echo $url ?>"><?php echo $url ?></a></span>
          <span class="var">Saludos y Gracias.</span>
        </pre>
	</body>
</html>
