<div class="row box">
	<div class="large-12 columns">
	    <br />
        <strong class="fi-refresh">&nbsp; Restaurar contraseña </strong>
    </div>
    <div class="large-12 columns">
        <?php 
        if(isset($reset)):
            $reset->setAttribute('action', $this->url('profile/default', array('controller'=>'SendPassword', 'action'=>'index')))->prepare();
            echo $this->form()->openTag($reset);
            echo $this->formCollection($reset);
            echo $this->form()->closeTag($reset);
        endif;
        ?>
	</div>
</div>
<?php 
$this->inlineScript()->captureStart();
echo <<<JS
  $("#resetPassword").submit(function(){
      var form = $(this);
      $.ajax({
        type : 'POST',
        url : form.attr('action'),
        dataType: 'json',
        data : form.serialize(),
        beforeSend: function( xhr ) {
            $("[name='send']").val('Enviando ........');
        },
        error : function() {
          alert('ocurrio un error');
        },
        success : function(data) {
          if(data['msg'] !== undefined )
          {
              alert(data['msg'][0]);
              location.href="/";  
              return false;
          }
            
          for(var i in data)
          {
              console.log($("[name='"+i+"']").next().remove());
              $("[name='"+i+"']").after("<div data-alert class='alert-box "+data[i][1]+"'>"+data[i][0]+" <a href='javascript:;' class='close fi-x-circle'></a></div>");
          }
        },
        complete : function (){
           $("[name='send']").val('Restaurar'); 
        }
      });
      return false;
  });
JS;
$this->inlineScript()->captureEnd();