<page size="A4">
  <div class="header-left">
      <div class="logo">
          <p>Liverpool</p>
      </div>
      <div class="document">
          Original
      </div>
  </div>
  <div class="header-right">
      Condiciones Generales - Venta de Productos a Liverpool
  </div>
  
  <div class="graph-1">
      <img src="<?php echo 'http://'.$_SERVER['HTTP_HOST'] ?>/img/cart1.png" alt="cart" />
      Contenido del intercambio
  </div>
  
  <div class="graph-2">
    <p>PRIMERA. Mediante la firma del presente documento, el Cliente procede al cambio de los terminales m&oacute;viles que se describen
    en el mismo a la compa&ntilde;&iacute;a ZWPT M&eacute;xico S.A. de C.V. con domicilio fiscal en Paseo de las Palmas 765-601, Colonia Lomas de
    Chapultepec, Delegaci&oacute;n Miguel Hidalgo, C.P. 11000, M&eacute;xico, D.F. (en adelante, “Liverpool”), atendiendo a las presentes
    condiciones generales.
    </p>
    
    <p>SEGUNDA. “Liverpool” procede en este acto a la recogida de los terminales m&oacute;viles que el Cliente entrega y recibe a cambio de
    los terminales m&oacute;viles un Monedero Electr&oacute;nico® que podr&aacute; hacer efectiva para la compra de bienes y servicios en las Tiendas
    Mobo ("Tarjeta de Regalo"), la cual ser&aacute; equivalente a las cantidades indicadas en el presente documento, conforme a la
    valuaci&oacute;n que realice el personal de Liverpool, seg&uacute;n las caracter&iacute;sticas y estado en que se encuentren los terminales m&oacute;viles sin
    que este sea negociable. El valor por los terminales m&oacute;viles que consta en el presente contrato, es aceptado por el Cliente
    quien declara no existe a su favor ning&uacute;n importe adicional que reclamar a Liverpool por el intercambio de sus terminales
    m&oacute;viles.
    </p>
    
    <p>La suma total se abona al Cliente a trav&eacute;s de la entrega de la entrega del Monedero Electr&oacute;nico®, acreditando la recepci&oacute;n de
    la misma con la firma del presente documento y con dicha aceptaci&oacute;n el Cliente declara haber recibido adecuadamente el pago
    por los terminales m&oacute;viles transmitidos y no tener nada más que reclamar ni de Liverpool. En ning&uacute;n caso el Monedero
    Electr&oacute;nico® podr&aacute; ser reemplazado en caso de extrav&iacute;o. En ning&uacute;n caso se pagar&aacute; dinero en efectivo. Una vez intercambiados
    los terminales m&oacute;viles el Cliente no podr&aacute; rescindir el presente contrato ni la devoluci&oacute;n de los terminales intercambiados, por
    lo que Liverpool no proceder&aacute; a la devoluci&oacute;n de los mismos.
    </p>
    
    <p>TERCERA. El Cliente declara que es propietario leg&iacute;timo de los terminales m&oacute;viles incluidos en este documento, no habiendo
    sido estos robados o extraviados, y manifiesta que es mayor de 18 a&ntilde;os y con capacidad suficiente para obligarse en t&eacute;rminos
    de este documento. El Cliente asume cualquier responsabilidad derivada de la transmisi&oacute;n de los terminales m&oacute;viles
    entregados conforme a las leyes de los Estados Unidos Mexicanos.
    Es responsabilidad del Cliente cancelar los contratos de telefon&iacute;a asociados a cualquiera de los terminales m&oacute;viles del que hace
    entrega, as&iacute; como extraer las correspondientes tarjetas SIM. Liverpool no se hace responsable del coste de ninguna llamada
    efectuada antes o después de la entrega de los terminales m&oacute;viles ni de ning&uacute;n otro servicio prestado a trav&eacute;s de los mismos.
    El Cliente es responsable de la veracidad de los datos aportados, asumiendo cualquier responsabilidad derivada de la
    inexactitud de los mismos.
    <br>
    Es obligaci&oacute;n del cliente, antes de entregar los terminales, proceder al desbloqueo, eliminaci&oacute;n de contrase&ntilde;as, desvinculaci&oacute;n
    de la "nube", borrado de todos los datos que contengan, ya sea informaci&oacute;n personal, mensajes de texto, fotos, juegos,
    canciones o cualquier otra informaci&oacute;n de car&aacute;cter personal. El Cliente exime a Liverpool de cualquier responsabilidad por
    reclamaci&oacute;n, p&eacute;rdida o da&ntilde;o relativos a los datos grabados o contenidos en los terminales m&oacute;viles.
    </p>
    
    <p>CUARTA. La gesti&oacute;n de los servicios requiere el tratamiento por parte de Liverpool de los datos personales solicitados al Cliente.
    Estos datos ser&aacute;n tratados de acuerdo a lo establecido en la normativa vigente en M&eacute;xico en materia de protecci&oacute;n de datos
    personales en posesi&oacute;n de particulares y conforme a lo dispuesto en nuestra Pol&iacute;tica de Privacidad, disponible en
    http://www.zwipit.com. En cualquier caso, sus datos son recogidos con la finalidad de gestionar el proceso de compra de sus
    terminales m&oacute;viles, as&iacute; como para el env&iacute;o de comunicaciones comerciales sobre productos y servicios de su inter&eacute;s en caso de
    que usted no se haya opuesto a dicho tratamiento. Asimismo, le informamos que sus datos podr&aacute;n ser utilizados con la finalidad
    de llevar a cabo los procesos necesarios para el tratamiento posterior del terminal transmitido. El Cliente podr&aacute; ejercitar ante
    Liverpool, en su domicilio social, los derechos que le asisten de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n, adjuntando copia de
    un documento que acredite v&aacute;lidamente su identidad.
    </p>
    
    <p>QUINTA. Las presentes Condiciones Generales se regir&aacute;n por la Leyes de los Estados Unidos Mexicanos. En caso de
    discrepancia, y sin perjuicio de lo que en cada caso pueda determinar la normativa aplicable en materia de Protecci&oacute;n a los
    Consumidores, las partes se someter&aacute;n expresamente a los Tribunales de M&eacute;xico.
    </p>
    
    <p>SEXTA. Liverpool se reserva el derecho a resolver el presente Contrato en caso de incumplimiento por parte del Cliente de
    cualquiera de los t&eacute;rminos y condiciones establecidos en las presentes Condiciones Generales e independientemente de las
    acciones que pueda emprender en este caso en defensa de sus derechos.
    </p>
  </div>
  
  <table class="graph-3 prod">
      <thead>
        <tr>
          <th>Marca</th>
            <th>Modelo</th> 
            <th>Funciona</th>
            <th>Imei</th>
            <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><?php echo$mark ?></td>
          <td><?php echo $model ?></td> 
          <td><?php echo $statusProduct?></td>
          <td><?php echo $imei ?></td>
          <td><?php echo $price ?></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td colspan="5" style="text-align: left">TOTAL: __________________________________________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <?php echo $price ?></td>
        </tr>
      </tbody>
  </table>
  
  <div class="graph-4">
      <img src="<?php echo 'http://'.$_SERVER['HTTP_HOST'] ?>/cart/contract/barcode?code=<?php echo $code ?>" alt="<?php echo $code ?>" />
  </div>
  
  <div class="graph-5">
      <img src="<?php echo 'http://'.$_SERVER['HTTP_HOST'] ?>/img/user.png" alt="user" /> 
      Datos del intercambio
  </div>
  
  <table class="graph-6 user">
    <tr>
      <td>
        <p class="bottom">Nro. referencia<br>PV001308488</p>
      </td>
      <td>
        <p class="bottom">Nro. productos entregados<br>1</p>
      </td> 
      <td>
        <p class="bottom">Fecha<br><?php echo date('d/m/Y') ?></p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: left">
        <p class="bottom">Entregado en<br>Sucursal 1, Sonora #34</p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: left">
        <p class="bottom">Nombre y apellidos<br><?php echo $name ?></p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: left">
        <p style="width: 47%" class="bottom">Identificaci&oacute;n oficial<br><?php echo $ife?></p>
        <div class="sello">
          &nbsp;Sello o Firma punto de venta
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3">
          <div class="confirm">
              Confirmaci&oacute;n de la entrega en Punto de Venta de los productos vendidos a Liverpool
          </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3">
           <div class="firma">
            &nbsp;Firma cliente
          </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
  </table>
</page>


<style>
page[size="A4"] {
  background: white;
  width: 27.94cm;
  height: 43.18px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  font-family: Arial, Helvetica, Verdana, Trebuchet, Tahoma, Futura;
}

.header-left{
  background-color:#D9017A;
  color:#fff;
  width:395pt;
  height:30pt;
  position:absolute;
  top: -25pt;
  left:-16pt;
}

.logo{
 position:absolute;
 top: -10pt;
 left:8pt;      
}

.logo > p {
   line-height:1em;
   font-weight: bold;
   font-size: 1.5em;
}

.header-right{
  color:#D9017A;
  font-weight:bold;
  width:395pt;
  height:30pt;
  position:absolute;
  top:-25pt;
  right:-16pt;
  text-align: center;
}

.document{
  position:absolute;
  top: 10pt;
  right:5pt; 
  font-size: 0.8em; 
}

.graph-1 {
  font-weight: bold;
  color:#D9017A;
  font-size:1.5em;
  width:395pt;
  height:20pt;
  position:absolute;
  left:-16pt;
  top:15pt;
}

.graph-2 {
  width:395pt;
  height:355pt;
  position:absolute;
  top:-1pt;
  right:-16pt;
}

.graph-2 > p{
  font-size: 8px;
  color:#D9017A;
  text-align:justify;
  line-height:1.5em;
}

.graph-3 {
  width:395pt;
  /*height:200pt;*/
  position:absolute;
  left:-16pt;
  top:40pt;
}

.graph-4 {
  width:395pt;
  height:140pt;
  position:absolute;
  top:415pt;
  text-align:center;
  right:-16pt;
  /*border: 1px solid red;*/
}

.graph-5{
  font-weight: bold;
  color:#D9017A;
  font-size:1.5em;
  width:395pt;
  height:20pt;
  position:absolute;
  left:-16pt;
  top:230pt; 
}

.graph-6 {
  width:395pt;
  position:absolute;
  left:-16pt;
  top:270pt;
}

.sello{
  width: 50%; 
  height: 10%; 
  background-color:#e5a0c6; 
  color: #fff; 
  position: 
  absolute; 
  top: 193px; 
  right: 12px;
}

.confirm{
  width: 50%; 
  height: 4%; 
  font-size: 8.5px; 
  text-align: justify; 
  position: absolute; 
  top: 270px; 
  right: 12px;
}

.firma{
    width: 50%; 
    height: 10%; 
    background-color:#e5a0c6; 
    text-align: left; 
    color:#fff; 
    position: absolute; 
    top: 295px; 
    right: 12px;
}

.prod {
  border-collapse: collapse;
  background-color:#fff;
  border:2px solid #D9017A;
  border-spacing: 0.5rem;
  font-size: 13px;
}

.prod th{
  border:2px solid #D9017A;
  background-color: #D9017A;
  color: #fff;
  padding: 0.3rem;
}

.prod td {
  padding: 0.3rem;
  text-align: center;
  color: #D9017A;
}

.user{
  border-collapse: collapse;
  background-color:#fff;
  border:2px solid #D9017A;
  border-spacing: 0.5rem;
  font-size: 13px;  
  color: #D9017A; 
}

.user td{
  padding: 0.32rem;
}

.user tr td:first-child {  /* primera fila */
  padding-left: 12px;
}

.user tr td:nth-child(2){ /* mitad fila */
   text-align: center;
}

.user tr td:last-child  { /* ultima fila */
  text-align: center;
  padding-right: 12px;
}

.bottom{
    border-bottom: 1px dashed #D9017A;
    border-left:1px solid #D9017A;
    border-right: 1px solid #D9017A;
    line-height: 15px;
}

@media print {
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
</style>